/* This hack is needed to temporary disable the predefined layout style */
d-article {
    contain: none;
  }

@media screen and (min-width: 1100px) {   
  .d-article {
    max-width: 1200px;    
    margin-left: auto;
    margin-right: auto;   
  }
}

/* ---- Floating TOC styling -------- */
.d-contents nav h3 { text-indent: 15px; }
.d-contents nav a { transition: all 0.1s ease-in-out;
  }

/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Sidebar Navigation */
#TOC {
  opacity: 1;
  position: fixed;
  left: calc(7%);
  top: calc(5.5%);
  /* width: 20%; */
  max-width: 260px;
  max-height: 85%;
  overflow-y: auto;
  background: white;            
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all 0.5s;   
  z-index: 999;
  }

#TOC.hide { 
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s;
  }

/* Hide the TOC when resized to mobile or tablet:  480px, 768px, 900px */
@media screen and (max-width: 768px) {
#TOC {
    position: relative;
    left: 0;
    top: 0;
    max-width: none;
    max-height: none;
    overflow-y: auto;
    border: none;
    background: none; }
    .d-contents nav h3 {
      text-indent: 0; }
    input[type="button" i] {  
      display: none; }
  }
  

body {
  font-family: 'Roboto';
  font-size: 14px;
  color: black;
  background-color: white;
}

h1.title {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto';
  font-weight: 600;
  margin-top: 30px;
}

/* ----- hard-override line wrapping in code blocks ------------------- */
div.sourceCode pre,         
pre.sourceCode,             
pre, code {                 
  max-width: 100%;
  overflow-x: auto;         
  white-space: pre-wrap !important;  
  word-break: break-word !important; 
}
/* ensure the <code> inside <pre> inherits the wrap behaviour */
pre code { 
  white-space: inherit !important;
}
